html{
  overflow:hidden !important;
}

#PluginWrapper{
  display:flex;
  flex-direction: column;
  height:100%;
}

#PluginContainer{
  flex:1;
}

h1.title {
  font-size: 20px !important;
  font-family: Arial !important;
  color: grey !important;
  font-weight:bold !important;
  margin-bottom: 0 !important;
  padding: 0px 10px 10px 10px !important;
}

#Login{
  width:100%;
}

#HTMLEditor, #CSSEditor, #JSEditor  {
  height:30%
}

#MainControls, #AppControls{
  text-align:center;
  border-top: solid 1px lightsteelblue;
}

#MainControls a{
  font-size: 40px;
  margin-top: 40px;
  margin: 20px;
  color: #4676a9;
}

#LoginControls{
  padding:10px;
}

#LoginControls button{
  background-color: #4676a9;
  color: white;
  width:100%;
}

#LoginControls button i{
  margin-left: 10px;
}

#LoginButton{
  background-color: #4676a9;
  width:100%;
}

#UserName{
  float:left;
  padding:5px;
}

.dropdown-item:hover{
  background-color: aliceblue;
  cursor:pointer;
}

.dropdown-item.isLoaded {
  border:solid 1px #ccc;
  font-weight:bold;
  font-size:14px;
  background-color:lightyellow;
}

.fetchSelect{
  width: 80%;
  margin-bottom: 15px;
}

.noProjects{
  padding:10px;
  text-align:center;
}

#NoAccess {
  display: none;
}

#NoAccess div:first-child {
  width: 20%;
  height: 40px;
  display: inline-block;
  vertical-align: top;
  padding: 5px 20px 0px 20px;
}

#NoAccess div:nth-child(2) {
  width: 75%;
  display: inline-block;
}

.alertIcon {
  background-color: gold;
  -webkit-mask: url(images/alert.svg) no-repeat center;
  mask: url(images/alert.svg) no-repeat center;
}